# Algod Instance
export ALGOD_TOKEN="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
export ALGOD_SERVER="http://localhost"
export ALGOD_PORT="4001"

export KMD_TOKEN="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
export KMD_SERVER="http://localhost"
export KMD_PORT="4002"

export INDEXER_TOKEN=""
export INDEXER_SERVER="http://localhost"
export INDEXER_PORT="8980"

export ADDR_CREATOR=
export MNEMONIC_CREATOR=